# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# AWS credentials
.aws/
credentials
config

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Local databases
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db